
header {
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    font-style: italic;
    background-color: #6C00FF;
    border-radius: 1rem;
    border: 3px solid black;
}

nav {
    text-align: left;
    font-size: large;
    font-family: fantasy;
    font-style: oblique;
    background-color: #FC00B9;
    border-radius: 1rem;
    border: 3px solid black;
}

em {
    color: #ed06f5da;
    font-style: normal;
    font-size: xxx-large;
}

strong {
    color: rgb(236, 96, 15);
    font-style: normal;
    font-size: xxx-large;

}
footer {
    
    text-align: center;
    font-size: large;
    font-family: fantasy;
    font-style: oblique;
    background-color: #00BA94;
    border-radius: 1rem;
    border: 3px solid black;
}

h1 {
    text-align: left;
    font-size: x-large;
    font-family: fantasy;
    font-style: italic;
    background-color: #FF0075;
    border-radius: 1rem;
    border: 3px solid black;
}

div p {
    color: black;
    text-align: left;
    border: 3px solid black;
}

body {
    background-color: #F9F871;
}